body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.82rem;
    /* identical to box height */
    background-image: url(".img/carousel_image1.png");

    letter-spacing: 0.22em;
    text-transform: uppercase;
    /* background-color: beige; */
}

.bg {
    position: absolute;
    padding: 0;
    left: 0px;
    top: 100px;
}

.bg-img {
    width: 100%;
    height: 700;
    object-fit: cover;
}

h1,
h2,
h3 {
    font-family: "Inter", cursive, cursive;
    text-transform: none;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    background-image: url("../img/hero\ bg\ img.png");
    background-size: cover;
}

.row-content {
    margin: 0;
    padding: 3.125rem 0;
    border-bottom: 1px ridge;
    min-height: 12.5rem;
}

.navbar-dark {
    background-color: #901CAD;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10ox;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #0a3cc4;
}

.table {
    text-transform: none;
}

.table-light-blue {
    background-color: #EBF8FB;
}

.table-light-blue:hover {
    background-color: lightblue;
}