body {
    font-family: 'Inter';
    font-style: normal;
    color: #272475;
    /* identical to box height */
    background-image: url(".img/carousel_image1.png");

    letter-spacing: 0.1em;
    background-color: beige;
   
}
.navbar-nav {
   align-items: baseline;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.82rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
}

.navbar-brand{
    margin-left: 100px;
}

.call-button {
    align-content: flex-end;
}

.bg {
    position: absolute;
    padding: 0;
    left: 0px;
    top: 100px;
}

.bg-img {
    width: 100%;
    height: 700;
    object-fit: cover;
}

h1, h2, h3 {
    font-family: "Inter";
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    color: #272475;
}

h1 {
    font-size: 40px;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    text-align: end;
    width: 100%;
    height:650px;
    background-image: url("../img/hero\ bg\ img.png");
    background-size: cover;
    
}
.herotext{
    margin-top: 100px;
    width:50%;
    margin-left: auto;
    margin-right: 0;
}


.btn{
    border-radius: 25px;
    background:#FAB206 ;
    border: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    ;
    text-align: center;
    letter-spacing: 0.16em;

}

.row-content {
    margin: 0;
    padding: 4rem 0;
    border-bottom: 1px ridge;
    min-height: 12.5rem;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #0a3cc4;
    border-radius: 30px;
}

.carousel-inner {
    border-radius: 30px;
}

.table {
    text-transform: none;
}

.table-light-blue {
    background-color: #EBF8FB;
}

.table-light-blue:hover {
    background-color: lightblue;
}

.card-light-blue {
    background-color: #EBF8FB;
}

#questionAccordion {
    text-transform: none;
}

.question {
    color: rgb(36, 33, 33);
}

.question:hover {
    text-decoration: none;
    cursor: pointer;
}

.card, #roundit {
    border-radius: 2rem;
}

.first-word {
    padding-bottom: 0.7rem;
    border-bottom: 3px solid gold;
}